td.head { 
	font-style: italic; 
	font-weight: bold; 
	font-size: 18px; 
	text-align: right; 
	padding: 18px 26px 0 0;
    width: 150px; 
    float: left; 
    height: 150px; 
    border-right: 1px solid #999;
}

td.body { 
	width: 600px; 
	float: right;
	display: block;
}