
@import url('https://sites.google.com/a/nure.ua/vladyslav-dudar/styles/main_text.css');
@import url('https://sites.google.com/a/nure.ua/vladyslav-dudar/styles/headlines.css');
@import url('https://sites.google.com/a/nure.ua/vladyslav-dudar/styles/table.css');
body
{
	volume:soft;
	pause:30ms 40ms;
	cue: url(".../sound/hello.mp3");
	play-during:url(".../sound/Sea/001.wav") repeat;
	speech-rate:medium;
	voice-family:announcer,female;
	richness:75;
}



a{
	volume:medium;
	play-during:none;
	
	
}
